.container{
    display: flex;
    
}
.category-layout{
    width: 25%;
}
.products{
    width: 100%;
}


.combo{
    
    background-color: rgb(184, 249, 249);
    color: rgba(17, 10, 10, 0.973);
    text-align: center;
    padding: 0;
    margin-top: 8px;
}
.menu-item5555 li:hover {
    background:#981B1E;
    
}

.menu-item-5577{
    padding: 9px 102px;
    margin: 2px;
    display: flex;  justify-content: center;
}
.item5556 {
    display: flex;  
    justify-content: center;
}
.item5557
    {
        display: flex;  
        justify-content: center;
    }

#menu-item-6000{
    color: white;
    background: #b4abab;
    
}
.header-items{
    display: flex;
    height: 20rem;
    gap: 1rem;
}
.header-items >div{
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .6s cubic-bezier(.90, .122, .415, 1.4);
}
.header-items >div:hover{
    flex: 6;
}
.listcate{
  
    border-radius: 2px;
   
    background-color: rgb(250, 252, 243) ;
    flex: 1;
    transition: .3s all ease;
}
.listcate:hover{
    flex: 2;
    background-color:rgb(184, 249, 249) ;
}


.tatca{
    font-size: 0.9rem;
    font-weight: 300;
    transition: all 0.3s linear 0s;
    cursor: pointer;
    float: left;
}



.link-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    
}
 .main-detail{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 40px;
} 
.detail1{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.link-user2{
    display: flex;
    float: left;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    margin-left: 88px;
}
 
th{
    
    width: 80%;
    
}

    
   
.buy_area{
    background: rgb(211, 208, 43);
    width: 50%;
    padding: auto;

}
.plusss{
    text-align: center;
}


ul{
    list-style: none;
}

  

.price-tag {
    width: 140px; 
}
h5{
    text-align: center;
     background-color: rgb(242, 233, 233); 
}
.price-tag {
    text-align: center;
}
.product-image{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;

}
.product1-1{
    padding: 0px;
}
.list-category div{
        margin-left: 20px;  

}
.item5555{
    display: flex;

}
button {
    
    background-Color :rgb(184, 249, 249);
    padding: '2px 10px';
    color: 'white';
     border-radius: 2; 
     width: 100%;  
}
.wrapper{
    overflow: hidden;
}

.wrapper img{
    height: 297px;
    width: 100%;
    transition: scale 400ms;
    
}
.wrapper:hover img{
    scale: 170%;
}
.Name{
    text-align: center;
}
.tab-for-me{
    display: flex;
}
.iconCart{
    position: relative;
     
}
.countItem{
    position: absolute;
    top: -10px;
    right: 10px; 
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:4px;
}
.countItem{
    color: #fff;

}
.nav-right{
    display: flex;
    align-items: center;
}
.menu-image{
    width: 500px;
    height: 281px;
}
.product-item {
    padding-top: 20px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }
  .menu-thumb{
    width: 1000px;
  }

  
  .pagination a:hover:not(.active) {background-color: #ddd;}